In [5]:
import pandas as pd
data = pd.read_csv("data.csv")

In [6]:
data

,ICUSTAY_ID,creatinine,po2,fio2,pco2,bp_min,bp_max,pain,k,hr_min,...,resp_min,resp_max,haemoglobin,spo2_min,spo2_max,temp_min,temp_max,na,cohort,outcome
0,832,117.0,8.6,NaN,5.5,150.0,159.0,3.0,4.6,65.0,...,15.0,18.0,110.0,93.0,94.0,36.6,36.9,139.0,1,1
1,837,42.0,5.2,NaN,5.7,126.0,126.0,1.0,4.5,86.0,...,15.0,15.0,92.0,98.0,98.0,37.6,37.6,132.0,1,1
2,848,32.0,18.1,21.0,4.6,92.0,105.0,0.0,4.6,72.0,...,13.0,17.0,109.0,97.0,99.0,36.7,36.7,136.0,1,1
3,849,100.0,9.8,NaN,5.6,126.0,147.0,3.0,5.2,72.0,...,24.0,24.0,120.0,96.0,99.0,36.5,36.5,136.0,1,1
4,852,52.0,5.1,NaN,7.4,135.0,139.0,2.0,4.7,97.0,...,16.0,16.0,87.0,95.0,98.0,37.5,37.6,138.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3952,11764,28.0,NaN,NaN,NaN,159.0,159.0,0.0,3.1,83.0,...,17.0,17.0,103.0,94.0,99.0,37.6,37.6,139.0,1,0
3953,11765,133.0,9.9,35.0,4.9,81.0,117.0,0.0,4.4,108.0,...,14.0,25.0,82.0,95.0,100.0,36.8,36.8,130.0,0,0
3954,11766,82.0,8.7,30.0,4.2,80.0,102.0,0.0,4.8,110.0,...,20.0,36.0,91.0,93.0,97.0,37.7,37.7,135.0,1,0
3955,11767,87.0,4.5,35.0,6.4,112.0,140.0,0.0,4.5,78.0,...,19.0,26.0,89.0,93.0,99.0,37.1,37.1,137.0,0,0
3956,11768,35.0,10.1,35.0,3.8,100.0,122.0,0.0,4.7,85.0,...,22.0,28.0,75.0,95.0,100.0,38.1,38.5,149.0,1,0

imputation of missing values